.navbar{
  width:95%;
  max-width:900px;
  margin:20px auto;

  display:flex;
  justify-content:space-between;
  align-items:center;

  padding:18px;
  border-radius:15px;

  background:#1e293b;
}

.navbar h2{
  color:white;
  font-size:1.8rem;
  margin:0;
}

.nav-btn{
  text-decoration:none;
  color:white;
  background:#7c3aed;
  padding:10px 18px;
  border-radius:10px;
}

@media (max-width: 600px){

  .navbar h2{
    font-size:1.1rem;
  }

  .nav-btn{
    padding:8px 14px;
    font-size:0.9rem;
  }
}