*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  min-height:100vh;

  background:
  linear-gradient(
    135deg,
    #0f172a,
    #1e1b4b
  );

  font-family:Arial, sans-serif;

  padding:20px;
}